@import url("https://fonts.googleapis.com/css?family=Karla");

body {
	font-family: "Karla", sans-serif;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	display: none;
}



/* h1, h2, h3, h4, h5, h6, p, div {
	margin-bottom: 0;
} */

a {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: white;
}

.karla {
	font-family: "Karla";
}

.black-bg {
	background-color: black;
}

.black {
	color: black !important;
}

.white-bg {
	background-color: white;
}

.white {
	color: white !important;
}

.twitter-blue {
	color: #1dcfff !important;
}

.full-page {
	position: relative;
	display: table;
	/* position: absolute; */
	width: 100%;
	height: 100vh;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.overlay {
	height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}