@import url("https://fonts.googleapis.com/css?family=Karla");

body {
	font-family: "Karla", sans-serif;
	padding: 0;
	margin: 0;
}

/* h1, h2, h3, h4, h5, h6, p, div {
	margin-bottom: 0;
} */

.karla {
	font-family: "Karla";
}

.black-bg {
	background-color: black;
}

.black {
	color: black;
}

.white-bg {
	background-color: white;
}

.white {
	color: white;
}

.full-page {
	/* position: relative; */
	display: table;
	position: absolute;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}